{% extends "base.html.twig" %}
{% block title %}Boutique
{% endblock %}

{% block body %}
	{{  include ("partials/title_section.html.twig", {'name':'Boutique'}) }}

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="row shop_container">
						{% if products %}
							{% for product in products %}
								{{  include ("partials/products_shop.html.twig", {'product':product}) }}
							{% endfor %}
						{% else %}
							<p class="m-5">Désolé, Aucun produit ne correspond aux résultats de votre recherche!</p>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
					<div class="sidebar">
						{{form_start(search)}}
						<div class="widget">
							<h5 class="widget_title">Categories</h5>
							{{ form_row(search.categories)}}

						</div>
						<div class="widget">
							<h5 class="widget_title">Prix</h5>
							<div class="form-row">
								<div class="col-md-6">
									{{ form_row(search.minprice)}}
								</div>
								<div class="col-md-6">
									{{ form_row(search.maxprice)}}
								</div>
							</div>

						</div>
						<div class="widget">
							<h5 class="widget_title">Tags</h5>
							{{ form_row(search.tags)}}
						</div>
						<button class="btn btn-border-fill btn-block">
							Search</button>
						{{ form_end(search)}}
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascrip">
		$(document).ready(function () {
											alert('test');
											console.log('test');
											$(".js-categories-multiple").slect2();
													  //your code here
													});
	</script>
{% endblock %}
