{% extends 'base.html.twig' %}

{% block title %}Payement annulé ou refusé!
{% endblock %}

{% block body %}
	{{  include ("partials/title_section.html.twig", {'name':'Payement annulé ou refusé'}) }}
	<div class="section checkout">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-8">
					<div class="text-center order_complete">
						<i class="fas fa-ban"></i>
						<div class="heading_s1">
							<h3>Désolé
								{{order.user.firstname}}
								{{order.user.lastname}}.
							</h3>
							<div>
								<div>Votre paiement a été annulé! dont la reference
									<strong>{{order.reference}}</strong>
									n'a pas abouti.</div>
								<div>Vous avez essayé de payer votre commande et nous vous en remercions.
																		
																		Votre paiement n'a pas été accepté. Votre commande n'a pas été confirmée.
																		Nous vous invitons à vous connecter à notre site pour renouveler votre commande.
																		
																		A bientôt sur notre boutique en ligne.</div>
								<div>

									<a href="{{path('checkout_confirm')}}" class="btn btn-fill-out">Retourner sur ma commande</a>
								</div>
							</div>

							<div></div>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
